#logo-loader {
            position: fixed;
            z-index: 1000;
            width: 100%;
            height: 100vh;
            background-color: #121117;
            display: flex;
        }

        .loader-content {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .loader-image {
            max-width: 150px;
            margin-bottom: 12px;
        }

        .loader-title {
            font-size: 34px;
            color: white;
            font-weight: bold;
            margin-bottom: 12px;
        }
        .spinner-loader {
            animation: rotator-loader 1.4s linear infinite;
        }
        @keyframes rotator-loader {
            0% {
            transform: rotate(0deg);
            }
            100% {
            transform: rotate(270deg);
            }
        }
        .path-loader {
            stroke-dasharray: 187;
            stroke-dashoffset: 0;
            transform-origin: center;
            animation: dash-loader 1.4s ease-in-out infinite, colors-loader 5.6s ease-in-out infinite;
        }
        @keyframes colors-loader {
            0% {
            stroke: #4285f4;
            }
            25% {
            stroke: #de3e35;
            }
            50% {
            stroke: #f7c223;
            }
            75% {
            stroke: #1b9a59;
            }
            100% {
            stroke: #4285f4;
            }
        }
        @keyframes dash-loader {
            0% {
            stroke-dashoffset: 187;
            }
            50% {
            stroke-dashoffset: 46.75;
            transform: rotate(135deg);
            }
            100% {
            stroke-dashoffset: 187;
            transform: rotate(450deg);
            }
        }