rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	function isAdmin(request) {
    		return request.auth != null && "admin" in request.auth.token && request.auth.token.admin == true;
    }
    
    function isCreator(request, creator) {
    return request.auth != null && "username" in request.auth.token && request.auth.token.username == creator;
    }
  
    match /{allPaths=**} {
    	allow read, write: if false;
    }
    
    
    match /creators/{creator}/merch/{merchid}/{item} {
    		allow get, create: if isCreator(request,creator); 
    		allow read, write: if isAdmin(request);
    }
    
    
    match /creators/{creator}/merch/{merchid} {
    		allow get, create: if isCreator(request,creator); 
    		allow read, write: if isAdmin(request);
    }
    match /creators/{creator}/{file} {
    		allow get, create: if isCreator(request,creator); 
    		allow read, write: if isAdmin(request);
    }
    match /creators/{creator}/merch {
    		allow get, create: if isCreator(request,creator); 
    		allow read, write: if isAdmin(request);
    }
    
    match /creators/{creator} {
    		allow get, create: if isCreator(request,creator); 
    		allow read, write: if isAdmin(request);
    }
    
    match /creators {
    		allow read, write: if isAdmin(request);
    }
    
  }
}
